table{
    table-layout: fixed;
}
button.trashButton{
    padding: 0;
    margin: 0;
    font-size: 2em;
    background-color: transparent;
    color: #780C28;
    border: 0;
}
button.editButton{
    padding: 0;
    margin: 0.5em;
    font-size: 2em;
    background-color: transparent;
    color: #fbb02d;
    border: 0;
}
th,td  {
    max-width: 2rem; /* Limit column width */
    padding: 5px;
    text-align: center;
}
td .content-wrapper{
    max-width: 20rem;
    max-height: 6em;
    overflow-y: auto;
    display: block; 
}
.content-wrapper {
    scrollbar-width: thin; 
    scrollbar-color: #888 #414040;
}
