
.loading-text {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.order-det{
    color: black;
    font-weight: 700;
}
.det{
    color: gray;
    font-weight: 500;
}
.order-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #555;
}

.order-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-history-text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.no-history-image {
    height: 150px;
    margin-bottom: 20px;
}


.history-container {
    padding: 20px;
}

.history-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 700px;
    font-size: 18px;
}
