table{
    table-layout: fixed;
    width: 100%;
    min-width: 800px;
    max-height: 70vh;
    overflow-y: auto;
}
.table-responsive {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }
  @media (max-width: 1544px) {
    table {
      font-size: 12px;
    }
    th, td {
      padding: 8px;
    }
    .editButton, .trashButton {
      font-size: 14px;
      padding: 4px;
    }
  }
button.trashButton{
    padding: 0;
    margin: 0;
    font-size: 2em;
    background-color: transparent;
    color: #780C28;
    border: 0;
}
button.editButton{
    padding: 0;
    margin: 0.5em;
    font-size: 2em;
    background-color: transparent;
    color: #fbb02d;
    border: 0;
}
th,td  {
    max-width: 2rem; /* Limit column width */
    padding: 5px;
    text-align: center;
}
td .content-wrapper{
    max-width: 20rem;
    max-height: 6em;
    overflow-y: auto;
    display: block; 
}
.content-wrapper {
    scrollbar-width: thin; 
}
.id{
    width: 3%; /* Smallest possible width */
    padding: 5px;
    white-space: nowrap; /* Prevents wrapping */}