.recent {
    margin-top: 2rem; /* mt-8 في Tailwind يعني 2rem = 32px */
    padding-left: 1rem; /* px-4 في Tailwind يعني 1rem = 16px */
    padding-right: 1rem;
}



.recent .title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}